<div class="footer">
    <div class="f-outer">
      <div class="f-inner">
        <div class="fcolumn">
          <div class="footer-logo">
            <p>AYUSH Virtual<br>Herbal Garden</p>
            <span>Ministry Of Ayush</span>
          </div>
          <div class="newsletter">
            <p>Subscribe To Our Newsletter</p>
            <form>
              <input type="email" placeholder="Enter Your Email">
              <button type="submit">Subscribe</button>
            </form>
          </div>
        </div>
        <div class="fcolumn">
          <div class="footer-nav">
            <ul>
              <h6>USEFUL LINKS</h6>
              <li><a (click)="goToSection('')">Home</a></li>
              <li><a (click)="goToSection('gallery')">Gallery</a></li>
              <li><a (click)="goToSection('contact')">Contact Us</a></li>
              <li><a [routerLink]="['/privacy']" routerLinkActive="router-link-active" >Privacy Policy</a></li>
            </ul>
          </div>
        </div>
        <div class="fcolumn">
          <div class="footer-contact">
            <h6>CONTACT US</h6>
            <p><i class="fa-solid fa-location-dot"></i>&nbsp;AYUSH BHAWAN, B Block,GPO Complex, INA, NEW DELHI - 110023</p>
            <p><i class="fa-regular fa-envelope"></i>&nbsp;<a href="mailto:info@academy.com">support&#64;ayush.gov.in</a></p>
          </div>
          <div class="socials">
            <h6>FOLLOW US</h6>
            <ul>
              <li><a href="#"><i class="fab fa-facebook"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="fc">
      <p>© 2024 Copyright: Ministry Of Ayush</p>
    </div>
</div>
