<nav>
    <a href="">
      <img src="logo.png" alt="" class="logo">
    </a>
    <div class="menu">
      <a (click)="setActive('home','')" [ngClass]="{'active': activeMenu === 'home'}" [routerLink]="['']"><p>Home</p></a>
      <!-- <a href="http://127.0.0.1:5500/"><p>Virtual Tour</p></a> -->
      <a href="https://play.unity.com/api/v1/games/game/666e9721-9031-48ac-b350-fda2096286d9/build/latest/frame"><p>Virtual Tour</p></a>
      <a (click)="goToSection('gallery')"><p>Gallery</p></a>
      <a (click)="setActive('bookmarks','bookmarks');" *ngIf="showBookmarkBtn" [ngClass]="{'active': activeMenu === 'bookmarks'}"><p>Bookmarks</p></a>
      <a (click)="goToSection('contact')"><p>Contact</p></a>

      <div class="buttonContainer">
        <div *ngIf="!loggedIn">
          <button (click)="router.navigate(['/login'])" id="login" class="AuthButtons">Login/Register</button>
        </div>
        <div *ngIf="loggedIn">
          <button (click)="router.navigate([isAdmin ? '/admin' : '/user'])" class="AuthButtons">
            <i class="fa-solid fa-user"></i>&nbsp;Dashboard
          </button>
          <button (click)="logout()" class="AuthButtons">Logout&nbsp;<i class="fa-solid fa-right-from-bracket"></i></button>
        </div>
      </div>
    </div>
</nav>
<div class="nav-mobile">
  <a href="">
    <img src="logo.png" alt="" class="logo">
  </a>
  <button class="toggleNav" (click)="displayNavMobile()"><i class="fa-solid fa-bars-staggered"></i></button>
  <div class="nav-elements" id="navMobile">
    <span class="closeNav" (click)="closeNav()" style="text-align: right; color: #ffacac;"><i class="fa-solid fa-xmark"></i></span>
    <a (click)="goToSection('')">Home</a>
    <a (click)="goToSection('about')">About</a>
    <a (click)="goToSection('contact')">Contact</a>
    <div class="buttonContainer">
      <div *ngIf="!loggedIn">
        <button (click)="router.navigate(['/login'])">Login&nbsp;<i class="fa-solid fa-right-to-bracket"></i></button>
      </div>
      <div *ngIf="loggedIn" class="userBtn">
        <!-- <button (click)="router.navigate([isAdmin ? '/admin-dashboard' : '/user-dashboard'])">
          Dashboard
        </button> -->
        <button (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</div>
