.main{
  font-family: 'Poppins', sans-serif;
}
header{
    min-height: 100vh;
    display: flex;
}
.inner-header{
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.outer-header{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.781);
    backdrop-filter: blur(8px);
}
.helements {
    width: 90%;
    max-width: 1800px;
    margin: 0 auto;
    position: relative;
  }

  .nav2 {
    width: 100%;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(207, 207, 207, 0.074);
    padding: 12px;
  }

  .nav-element {
    position: relative; /* Ensure plant-section positions relative to its parent */
    background-color: rgba(222, 222, 222, 0.106);
    color: var(--light);
    padding: 8px 12px;
    border-radius: 16px;
    text-align: center;
    font-family: Poppins, 'sans-serif';
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    transition: transform 0.3s ease-in-out;
    img{
        margin-right: 12px;
        width: 32px;
        height: 32px;
    }
  }
  .nav-element:hover{
    background-color: rgba(174, 255, 0, 0.317);
  }
  .nav-link {
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400 !important;
    color: var(--light);
    white-space: nowrap;
  }


  .plant-section {
    position: absolute;
    top: 36px; /* Position below nav-element */
    left: 0;
    width: 120px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    z-index: 10;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    ul{
        margin: 0;
        padding: 0;
        text-align: left;
        gap: 12px;
        li{
            background-color: #ccc;
            margin: 8px 4px;
        }
        a{
            color: var(--dark);
            text-decoration: none;
            font-size: larger;
            font-weight: 500;
        }
    }
  }

  .plants-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  .plantcard {
    width: 100px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }

  .plantimageType {
    width: 100%;
    height: 100px;
    border-radius: 8px;
  }

  .plantimageType img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .view-more-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }


  .plantcard {
    width: 100px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }

  .plantimageType{
    width: 100%;
    height: 100px;
    border-radius: 8px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  }

  .view-more-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  /* Spinning loader */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .spinner {
    border: 4px solid var(--light);
    border-top: 4px solid var(--dark);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
/***Hero Section Contents***/
.c1{
    width: 90%;
    max-width: 1800px;
    margin: auto auto;
    margin-top: 20px;
    height: calc(100% - 170px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.contents{
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    color: var(--light);
    max-width: 95%;
}
.model3D{
    width: 450px;
    height: 400px;
}
.headline{
    font-size: 42px;
    font-weight: bolder;
    span{
        color: var(--light-green);
    }
}
.btnC{
  display: flex;
  gap: 12px;
}
.searchBtn{
    border: none;
    padding: 12px 16px;
    border-radius: 9999px;
    font-size: x-large;
    cursor: pointer;
    font-weight: 600;
    background-color: #205700;
    color: var(--light);
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px #00000080;
    width: 320px;
}
.searchBtn::after{
    content: '';
    display: flex;
    height: 100%;
    width: 20px;
    top: 0;
    bottom: 0;
    background-color: #b8ff7676;
    z-index: 0;
    position: absolute;
    transform: skew(20deg);
    animation: slide 5s infinite linear;
}
@keyframes slide {
    0% { left: 0; }
    100% { left: 100%; }
}
.search-btn{
  border: none;
  font-size: 20px;
  color: #205700;
  padding: 0 18px;
}
.listening{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: larger;
  font-weight: 600;
}
.listening img{
  height: 250px;
}
.search-content-flex{
    display: flex;
    border-bottom: 2px solid #ccc;
    height: 50px;
    background-color: var(--light-green);
    border-radius: 6px 6px 0 0  ;
}
#options{
    border: none;
    outline: none;
    padding: 10px;
    height: 100%;
    background-color: #ccc;
    font-size: 16px;
    font-weight: 500;
    width: 60px;
    border-top-left-radius: 6px;
}
.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 0px;
  height: 100%;
  outline: none;
  border: none;
  border-top-right-radius: 6px;
}
.wrapper{
    background-color: #f9ffee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}
/**Search Plants *********/
.search-popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.944);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: var(--dark);

  }
  .popup-content{
    background: #fff;
    border-radius: 6px;
    width: 100%;
    max-width: 700px;
      .search-results {
          height: 260px;
          overflow-y: auto;
          margin-top: 16px;
      }
      .search-item {
          padding: 8px 16px;
          margin-left: 12px;
          margin-bottom: 10px;
          border-left: 2px solid var(--dark);
          background-color: #e9e9e9;
          h4 {
              font-size: 18px;
              font-weight: bold;
          }
          p {
              margin: 0;
          }
      }
    .searched-item{
        display: flex;
        justify-content: space-between;
        img{
            width: 80px;
            height: 80px;
        }
    }
    .close-btn {
      margin-top: 20px;
      width: 100%;
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      background-color: var(--light);
      border-top: 2px solid #ccc;
      color: #ff4400;
      font-size: larger;
      font-weight: 600;
      text-align: right;
      border-radius: 0 0 6px 6px;
    }
  }
  .notFound{
    display: flex;
    flex-direction: column;
    font-size: larger;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    img{
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }
  }
/*******Random 5 plant details****************/
  .slidercontainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    scroll-behavior: smooth; /* Smooth scrolling */
    margin-bottom: 40px;
  }

  .slider-wrapper {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px 0;
  }

  /* Hide scrollbar in WebKit-based browsers (e.g., Chrome, Edge, Safari) */
  .slider-wrapper::-webkit-scrollbar {
      display: none !important;
  }

  /* Hide scrollbar for Firefox */
  .slider-wrapper {
      scrollbar-width: none; /* For Firefox */
  }

  /* Hide scrollbar for older versions of IE/Edge */
  .slider-wrapper {
      -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }

  .slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(226, 226, 226, 0.838);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    z-index: 10;
  }

  .slider-btn.prev {
    left: 10px;
  }

  .slider-btn.next {
    right: 10px;
  }
  #MyChart {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
  }

  .plant-card {
    width: 280px;
    background-color: var(--dark);
    color: var(--light);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    cursor: pointer;
  }

  .plant-image {
    width: 100%;
    height: 200px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  }

  .plant-common-name {
    font-size: 1.2em;
    margin: 10px 0;
  }

  .plant-botanical-name {
    font-size: 1em;
    font-style: italic;
  }

  .plant-description {
    font-size: 0.9em;
    margin: 10px 0;
  }
.Viewer{
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
}
.Viewer video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Viewer video{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.viewer-text {
  background-color: #000000d6;
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: 600;
  color: var(--light);
  letter-spacing: 0.7rem;
  text-align: center;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5),
               -3px -3px 5px rgba(69, 69, 69, 0.3);
}

.viewer-text p {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  text-transform: uppercase;
  position: relative;
  /* animation: colorShift 4s infinite alternate; */
}

.viewer-text a button {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 9999px;
  background-color: var(--light);
  color: var(--dark);
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 24px;
  position: relative;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.viewer-text a button:hover {
  background-color: #fff;
  transform: scale(1.1);
}

/* Keyframes for color-shifting text */
@keyframes colorShift {
  0% {
    color: #ff0000;
    text-shadow: 2px 2px 4px #ff8080, -2px -2px 4px rgba(255, 255, 255, 0.3);
  }
  25% {
    color: #00ff00;
    text-shadow: 2px 2px 4px #80ff80, -2px -2px 4px rgba(255, 255, 255, 0.3);
  }
  50% {
    color: #0000ff;
    text-shadow: 2px 2px 4px #8080ff, -2px -2px 4px rgba(255, 255, 255, 0.3);
  }
  75% {
    color: #ffff00;
    text-shadow: 2px 2px 4px #ffff80, -2px -2px 4px rgba(255, 255, 255, 0.3);
  }
  100% {
    color: #ff00ff;
    text-shadow: 2px 2px 4px #ff80ff, -2px -2px 4px rgba(255, 255, 255, 0.3);
  }
}
/***************Advanced Search Functionality****************/
.selection-options{
  background-image: url('https://th.bing.com/th/id/OIP.surj3s_Yfe2CdcgHgmxvUwHaEK?rs=1&pid=ImgDetMain');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  h2{
    color: var(--light-green);
  }
}
.select-container{
  display: flex;
}
.as{
  background-color: #071300e4;
  color: var(--light);
  backdrop-filter: blur(10px);
  height: 100%;
  width: 100%;
  padding: 18px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.underline{
  content: '';
  width: 100%;
  height: 4px;
  background-color: #fefefe;
  margin: 16px 0;
  margin-right: auto;
}
.advanced-search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.advanced-search button{
  border: none;
  outline: none;
  padding: 8px 20px;
  border-radius: 8px;
  background-color: var(--light);
  color: var(--dark);
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-right: 10px;
  margin: 0;
  width: 350px;
  margin: 0 auto;
}
.o{
  display: flex;
  flex-direction: column;
  margin: 16px;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: 500;
  color: var(--light);
}
.o select{
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  outline: none;
  margin-top: 12px;
}
.advanced-search-results{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 500px;
  gap: 18px;
  padding: 16px;
  overflow: auto;
}
/********Ayush Overview Section ********/
.overview{
    padding: 10px;
    background-color: #f9ffee;
    text-align: center;
    font-size: 30px;
    color: #0c2b00;
    font-weight: 600;
}
.overviews{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.overview p{
    position: relative;
    margin-bottom: 16px;
    padding-bottom: 16px;
}
.heading1::before{
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 3px;
    background: #94cf5d;
    bottom: 1px;
    border-radius: 2px;
    left: calc(50% - 60px);
}
.heading1::after{
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 6px;
    background: #205700;
    border-radius: 2px;
    bottom: 0;
    left: calc(50% - 20px);
}
.overview-content{
    background-color: #ffffffe7;
    backdrop-filter: blur(10px);
    background-position: center;
    background-size: cover;
    width: 360px;
    background-blend-mode: overlay;
    border: 1px dotted #183d00;
    padding: 10px;
    color: var(--dark);
    margin: 20px;
}
#o1{
    background-image: url('https://www.pngmart.com/files/5/Ayurveda-PNG-Transparent-Image.png');
}
#o2{
    background-image: url('https://www.pngmart.com/files/5/Naturopathy-Transparent-PNG.png');
}
#o3{
    background-image: url('https://graficsea.com/wp-content/uploads/2022/06/Unani-Medicine-Sharbat-and-syrups-Majoon-Oil-Transparent-Image-PNG-type-Free-Download-.png');
}
#o4{
    background-image: url('https://png.pngtree.com/png-vector/20240309/ourmid/pngtree-homeopathy-medicine-landing-header-vector-png-image_11903954.png');
}
#o5{
    background-image: url('https://www.pngmart.com/files/22/Soybeans-PNG-Pic.png');
}
#o6{
    background-image: url('https://th.bing.com/th/id/OIP.SmQHG6CtdpfhRwf1CSesaAAAAA?rs=1&pid=ImgDetMain');
}
.ot p{
    font-size: medium;
    text-align: justify;
}
.ot h3{
  font-weight: 600;
}
.ot a{
  color: #005800;
  font-size: 1.3rem !important;
  margin-top: 30px;
}
/******Chart Js **************/
.chart{
    width: 100%;
    max-width: 900px;
    margin: 30px auto;
}
/******Incremental Cards ******/
.cards{
    display: flex;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--dark);
}
.card{
    width: 200px;
    /* background: linear-gradient(45deg, #dfe8ff, #cce2ff, #9f8ba1); */
    background: transparent;
    margin: 16px 0;
    border: none;
    border-right: 3px solid ;
    border-radius: 0px;
    padding: 16px;
    text-align: center;
    color: var(--light);
}
.card h2{
    font-size: 32px;
    font-weight: 600;
}
.card h3{
    font-size: 18px;
    font-weight: 600;
    color: var(--light-green);
}
.card:last-child{
    border: 0px;
}
/****** Overview Video *********/
.highlights{
    margin: 0px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-image: url('https://static.vecteezy.com/system/resources/previews/001/990/140/non_2x/seamless-watercolor-fresh-green-background-with-text-space-illustration-environmentally-conscious-image-with-plants-and-sunlight-horizontally-repeatable-free-vector.jpg');
}
.highlights iframe{
    margin: 16px auto;
    border-radius: 6px;
}
.heading2{
    font-size: xx-large;
    text-align: center;
    font-weight:600 ;
}
/******Gallery & review section ****/
.gallery{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 0;
  background-color: #f9ffee;
    width: 100%;
    text-align: center;
    padding-right: 20px;
}
.gallery-slider{
  gap: 18px;
}
.galleryImage{
    width: 300px;
    height: 250px;
    border-radius: 6px;
    flex-shrink: 0;
}
.galleryImage img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
}
.slider-container {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1250px;
  margin: auto;
}

.gallery-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.gallery button {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.gallery button:first-of-type {
  left: 0;
}

.gallery button:last-of-type {
  right: 0;
}
/*************Contact & Review Form******************/
.c5{
  display: flex;
  text-align: center;
  padding: 20px;
  background-color: #f9ffee;

}
.contact-left{
    color: var(--light);
    width: 70%;
    h2{
        color: var(--dark);
        font-weight: 600;
    }
}
.contactSection{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background: var(--dark);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    width: 100%;
    max-width: 900px;
}
.contactDetails{
    height: 100%;
    margin: 20px;
    text-align: left;
}
.contactDetails h2{
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 18px;
}
.contact{
    display: flex;
    width: 350px;
    align-items: flex-start;
    margin-top: 10px;
}
.contactIcon{
    background-color: var(--light-green);
    color: var(--dark);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    margin-right: 12px;
}
.contactText{
    width: calc(100% - 52px);
    font-size: medium;
}
.contactText span{
    font-size: large;
    font-weight: 600;
}
.contactForm{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 350px;
    padding: 12px;
    border-radius: 6px;
    text-align: left;
    background-color: #f9ffee;
}
.contactForm input{
    border: none;
    padding: 6px;
    margin-bottom: 12px;
    outline: none;
    border-bottom: 2px solid var(--light);
    background-color: #f9ffee;
}
.contactForm textarea{
    border: none;
    height: 100px;
    resize: none;
    padding: 6px;
    outline: none;
    border-bottom: 2px solid var(--light);
    background-color: #f9ffee;
}
.contactForm input:focus,
.contactForm textarea:focus{
    border-bottom: 2px solid var(--dark);
}
.contactForm button{
    border: none;
    margin: 12px 0;
    padding: 6px 0;
    border-radius: 6px;
    background-color: var(--light-green);
    font-size: larger;
    display: flex;
    justify-content: center;
}
.contact-right{
  display: flex;
  align-items: center;
  width: 30%;
}
.review{
    border-left: 2px solid #e9e9e9;
    border-width: 80%;
    padding-left: 15px;
}
.review-form{
  background-color: #000000d6;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
#reviewForm{
  max-width: 350px;
  width: 90%;
  padding: 20px;
  border-radius: 6px;
  background-color: var(--light) !important;
}
#RatingChart{
  width: 390px;
}
.form-group{
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 18px;
  font-size: larger;
  font-weight: 500;
  color: var(--dark);
  input,textarea{
    padding: 4px 8px;
  }
  textarea{
    resize: none;
  }
}
.buttons{
  display: flex;
  gap: 16px;
}
.buttons button{
  border: none;
  outline: none;
  padding: 8px 16px;
  background-color: var(--dark);
  color: var(--light);
  border-radius: 4px;
}
/**************************FAQ Section**************************************/
.c6-main{
    display: flex;
    position: relative;
    width: 100%;
}
.c6-inner{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    max-width: 1500px;
    overflow: hidden;
}
#sh8{
    background-color: #fffb00;
    top: 10%;
    left: 50%;
}
#sh9{
    background-color: hsl(0, 100%, 50%);
    top: 70%;
    left: 10%;
}
#sh10{
    background-color: hsl(229, 100%, 50%);
    top: 20%;
    right: 30%;
}
.c6-outer{
    display: flex;
    justify-content: center;
    position: relative;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://th.bing.com/th/id/OIP.XsvTdn9iNlkjdQ-iVxuGxgHaEK?rs=1&pid=ImgDetMain');
    background-blend-mode: overlay;
    background-color: #ffffffd9;
}
.c6{
    width: 90%;
    max-width: 1500px;
    padding: 30px 10px;
}
.faq-section {
    margin: 0px auto;
    font-size: larger;
}

  .faq-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }

  .faq-question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight: bold;
  }

  .faq-answer {
    margin-top: 10px;
    font-size: 18px;
    color: #555;
  }

  .plus-icon {
    font-size: larger;
    font-weight: bold;
  }

  .faq-question.active .plus-icon {
    transform: rotate(45deg); /* Change plus to minus */
  }
  .working{
    display: none;
  }
  /***Online Community*****/
  .community{
    background-image: url('https://th.bing.com/th/id/OIP.kGz-B5dV2gmRCrp2s2Zx_gHaFj?rs=1&pid=ImgDetMain') !important;
    background-blend-mode: overlay ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000e5;
    height: 500px;
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--light);
    position: relative;
    h2{
        font-size: 32px;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0.5rem;
    }
    strong{
        font-size: 24px;
        color: var(--light-green);
    }
    button{
        border: none;
        outline: none;
        margin: 18px auto;
        border-radius: 8px;
        font-size: larger;
        font-weight: 600;
        background-color: #205700;
        color: var(--light);
        padding: 6px 12px;
        cursor: pointer;
    }
    img{
        width: 550px;
        z-index: 2;
        position: absolute;
        bottom: 0;
    }
  }
  .community-header{
    z-index: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
@media (max-width: 650px){
  .helements{
    display: none;
  }
  .headline{
    font-size: 28px;
  }
  .slidercontainer{
    padding: 12px;
  }
  .plant-card{
    height: 455px;
  }
  .btnC{
    flex-direction: column;
  }
  .main-left{
    padding-top: 40px;
  }
  .main-right{
    display: none;
  }
  .select-container{
    flex-direction: column;
  }
  .chart{
    display: none;
  }
  #wrapper2{
    display: none;
  }
  .community img{
    display: none;
  }
  .review{
    display: none;
  }
  .contactSection{
    flex-direction: column;
  }
  .contact-left{
    width: 100%;
  }
  .highlights{
    display: none;
  }
  .gallery{
    padding: 12px;
  }
  .slider-container{
    margin: 10px auto;
  }
}
