<!--Display all bookmarked plsnts-->
<div class="navbar">
    <app-navbar></app-navbar>
</div>
<div class="bookmarks-container">
  
    <!-- Loading Spinner -->
    <div *ngIf="loading" class="spinner">
      
    </div>
  
    <!-- Error Message -->
    <div *ngIf="error" class="error">
      <p>{{ error }}</p>
    </div>
  
    <!-- Bookmarked Plants List -->
    <div *ngIf="!loading && bookmarkedPlants.length > 0" class="plant-list">
      <div class="plant-card" *ngFor="let plant of bookmarkedPlants">
        <div class="ic">
          <div class="image">
            <img [src]="plant.images[0]" alt="{{ plant.commonNames[0] }}">
          </div>
        </div>
        <div class="details">
          <h3>{{ plant.commonNames.join(', ') }}</h3>
          <p><strong>Botanical Name:</strong> {{ plant.botanicalName }}</p>
          <p><strong>Description:</strong> {{ plant.description }}</p>
          <div class="bblock">
            <button (click)="removeBookmark(plant._id)" class="remove-btn">Remove Bookmark</button>
            <button (click)="openPlantDetails(plant._id)" class="view-btn">View Details</button>
          </div>
        </div>
      </div>
    </div>
  
    <!-- No Bookmarks Message -->
    <div *ngIf="!loading && bookmarkedPlants.length === 0" class="no-bookmarks">
      <p>You haven't bookmarked any plants yet!</p>
    </div>
  </div>
  <!-- Footer -->
<app-footer></app-footer>
  